<div class="title-block">
  <h3 class="title">
    Страница записей <span class="sparkline bar"></span>
  </h3>
</div>

<section class="section">
  <div class="row">
    <div class="col-md-6">
      <alc-add-category (onCategoryAdd)="newCategoryAdded($event)"></alc-add-category>
    </div>

    <div class="col-md-6">
      <alc-add-event></alc-add-event>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <alc-edit-category></alc-edit-category>
    </div>
  </div>
</section>